{% extends "base.html" %}

{% block title %}Trailer {{ trailer.id }}{% endblock %}

{% block body %}
    <h1>Trailer {{ trailer.id }}</h1>
    <p>{{ trailer.description }}</p>
    <ul>
        {% if action_list %}
        {% for action in action_list %}
        <li><a href="{% url 'action' action.trailer_id action.id %}">{{ action.id }} - {{ action.summary }}</a></li>
        {% endfor %}
        {% else %}
        <p>Er zijn geen restpunten geregisteerd op deze trailer.</p>
        {% endif %}
    </ul>
{% endblock %}