{% extends "base.html" %}

{% block title %}Maak nieuw restpunt{% endblock %}

{% block body %}
    <h1>Maak nieuw restpunt</h1>

    <form method="POST">
        {% csrf_token %}

        <label for="id">Trailer nummer:</label>
        <input type="number" name="id" id="id" required><br><br>

        <label for="summary">Geef een korte samenvatting van dit restpunt:</label>
        <input type="text" name="summary" id="summary" maxlength="256" required><br>

        <p>Gaat het om een restpunt met of zonder los onderdeel?</p>
        <label>
            <input type="radio" name="detached" value="true" required> Met los onderdeel
        </label><br>
        <label>
            <input type="radio" name="detached" value="false"> Zonder los onderdeel
        </label><br>

        <p>Is het onderdeel geleverd?</p>
        <label>
            <input type="radio" name="delivered" value="true" required> Ja
        </label><br>
        <label>
            <input type="radio" name="delivered" value="false"> Nee
        </label><br>

        <p>Is het onderdeel in correcte hoeveelheid aanwezig?</p>
        <label>
            <input type="radio" name="correct_amount" value="true" required> Ja
        </label><br>
        <label>
            <input type="radio" name="correct_amount" value="false"> Nee
        </label><br><br>

        <label for="who_contacted">Wie is gecontacteerd?</label>
        <input type="text" name="who_contacted" id="who_contacted" maxlength="64" required><br><br>

        <label for="result_contact">Wat is de uitkomst van dit contact:</label>
        <input type="text" name="result_contact" id="result_contact" maxlength="256" required><br><br>

        <label for="delivery_date">Wat is de verwachte leveringsdatum:</label>
        <input type="date" name="delivery_date" id="delivery_date" required><br><br>

        <label for="location">Wat is de locatie van het onderdeel:</label>
        <select name="location" id="location" required>
            <option value="T">Op de trailer</option>
            <option value="P">In de restpuntenpallet</option>
            <option value="N">Nvt.</option>
        </select><br><br>

        <label for="description">Welke bewerking moet er worden gedaan:</label><br>
        <textarea name="description" id="description" required></textarea><br><br>

        <label for="reason">Geef de reden waarom de bewerking in trailer compleet plaats moet vinden ipv de afmontage:</label><br>
        <textarea name="reason" id="reason" required></textarea><br><br>

        <label for="creator">Naam melder:</label>
        <input type="text" name="creator" id="creator" maxlength="64" required><br><br>

        <label for="info">Aanvullende informatie:</label><br>
        <textarea name="info" id="info" required></textarea><br><br>

        <button type="submit">Aanmaken</button>
    </form>
{% endblock %}